@keyframes rainbowColor {
  0% { color: red; } 
  15% { color: orange; } 
  30% { color: yellow; } 
  45% { color: green; } 
  60% { color: aquamarine; } 
  75% { color: blue; } 
  90% { color: purple; } 
  100% { color: red; } 
}

body {
    width: 80%;
    max-width:50em;
    min-width: 35em;
    font-size: medium;
    margin: 0 auto;
    background-color: floralwhite;
    font-family: "微软雅黑",Verdana,sans-serif;
}

ruby {
    position: relative;
    padding: 0.4em 0 0 0;
    display: inline-block;
}

    ruby > rt {
        display: inline-block;
        font-size: 0.4em;
        position: absolute;
        text-align: center;
        top: 0;
        left: 0;
        right: 0;
    }

body > div {
    padding: 1em;
}

#name {
    display: inline-block;
    cursor: default;
    color: silver;
    padding:0 2em;
}

    #name ruby {
        font-size: 2.5em;
        font-weight: bolder;
    }

        #name ruby > rt {
            color: lightskyblue;
            text-align: center;
        }

            #name ruby > rt:first-letter {
                color: pink;
            }

            #name ruby > rt > sup {
                font-size: 50%;
                color: tan;
                margin-right: 0.3em;
            }

    #name:hover {
        text-shadow: 0px 0px 0.1em rgba(0,0,0,0.5);
        color: black;
    }

        #name:hover ruby > rt {
            color: blue;
        }

            #name:hover ruby > rt:first-letter {
                color: red;
            }

            #name:hover ruby > rt > sup {
                color: firebrick;
            }

    #name .n {
        display: none;
    }

#divContent {
    font-size: 0;
}

    #divContent > * {
        font-size: x-large;
    }

a.nickname.url {
    color: silver;
}

    a.nickname.url:hover {
        color: black;
        background-color: transparent;
    }

a {
    text-decoration: none;
}
a:hover {

    font-weight: bolder;
}


.block {
    display: block;
    position: relative;
    background-color: lightskyblue;
    min-height: 4.5em;
    margin: 0.5em 0.6em;
    padding: 0 0 0 10em;
    overflow: hidden;
    color: white;
    border-top-right-radius: 2em;
    border-bottom-left-radius: 2em;
    font-weight: bolder;

}

    .block:hover {
        box-shadow: 0px 0px 0.1em black;
        background-color: mediumslateblue;
    }

    .block > header {
        position:absolute;
        z-index: 1;
        font-size: 3em;
        top: 0.05em;
        right: 0.1em;
        left: 0.1em;
        padding-right: -6em;
        height: 1.5em;
        color: rgba(255,255,255,0.5);
    }

    .block > header:before {
        content: '@';
        color: rgba(255, 192, 203, 0.3);
    }

    .block > article {
        z-index: 2;
        font-size: 1em;
        margin: 1em;       

    }

        .block > article > p {
            margin: 0;
            line-height: 150%;
        }

    .block.min > header, .block.min > article {
        display: none;
    }

p a {
    line-height: 100%;
    padding: 0 0.1em;
}

p img.favicon {
    vertical-align: middle;
    border-radius: 0.5em;
    margin-right: 0.3em;
    width: 1em;
    height: 1em;
}

.block.unkown {
    background-color: lightskyblue;
    display:none;
}

#copyright {
    text-align: center;
    color: silver;
    font-size: 1em;
    padding: .5em 5em;
}
    #copyright::before {
        content: "©";
    }

    #copyright a {
        color: silver;
        margin: 0 .5em;
    }

    #copyright a:hover {
        animation: rainbowColor 5s infinite;
    }
.email::before{
    content: "<-";
}
.email::after{
    content: "->";
}